@page "/tasks"
@using Hard75Tracker.Models
@using Newtonsoft.Json;

<PageTitle>Task Management</PageTitle>

<Modal @ref="modal" />

<Modal @ref="modal2">
    <BodyTemplate>
        <EditForm Model="@task" OnValidSubmit="@createNewTask" FormName="CreateTaskForm">
            <div class="row">
                <label for="taskName">
                    Task Name:
                </label><br />
                <input @bind-value="task!.taskName" name="taskName" type="text" style="width: inherit;" />
            </div>
            <div class="row">
                <div class="col-5 col-md-3 text-end">Task Description :</div>
                <div class="col-7 col-md-9">@task?.taskDescription</div>
            </div>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-success col-6">
            Create New Task
        </button>
    </FooterTemplate>
</Modal>

<div>
    <div style="margin-bottom: 30px;">
        <h1 style="text-align:center;margin-bottom: 20px;margin-top: revert;">
            Task Management
        </h1>

        <p>
            This page is used to manage individual tasks.
        </p>
    </div>
    
    <Button Color="ButtonColor.Success" @onclick="NewTaskComponent" Style="margin-bottom:10px;">
        Add Task
    </Button>
    

    <Grid @ref="grid"
      TItem="Hard75Shared.Task"
      Class="table table-hover table-bordered table-striped"
          DataProvider="TasksDataProvider"
      AllowFiltering="true"
      Responsive="true"
    EmptyText="There are no active tasks.">

        <GridColumn TItem="Hard75Shared.Task" HeaderText="Name" PropertyName="Name">
            @context.taskName
        </GridColumn>
        <GridColumn TItem="Hard75Shared.Task" Filterable="false" Sortable="false">
            <HeaderContent>
                Edit
            </HeaderContent>
            <ChildContent>
                <Button Color="ButtonColor.Info" @onclick="@(e => ShowTaskComponent(@context))">>Edit</Button>
            </ChildContent>
        </GridColumn>
    </Grid>
</div>

@inject NavigationManager UriHelper
@inject SessionStorageAccessor SessionStorageAccessor
@inject ITaskHttpRepository TaskRepo
@code {
    public int CurrentStreak = 0;
    public int MaxStreak = 0;
    private Hard75Shared.Task[]? currentTasks;
    string userID = null;
    string errorMessage;
    string successMessage;
    BlazorBootstrap.Grid<Hard75Shared.Task> grid = default!;
    private IEnumerable<Hard75Shared.Task> tasks = default!;
    private Modal modal = default!;
    private Modal modal2 = default!;
    string userEmail;
    public Hard75Shared.Task task;
    protected override async Task OnInitializedAsync()
    {
        userID = await SessionStorageAccessor.GetValueAsync<string>("userID");
        userEmail = await SessionStorageAccessor.GetValueAsync<string>("userEmail");
        if ((userEmail == null) || (userID == null))
        {
            UriHelper.NavigateTo("");
        }
    }

    private async Task<GridDataProviderResult<Hard75Shared.Task>> TasksDataProvider(GridDataProviderRequest<Hard75Shared.Task> request)
    {
        if(userID == null)
        {
            userID = await SessionStorageAccessor.GetValueAsync<string>("userID");
        }
        Console.WriteLine(userID);
        Hard75Shared.Response apiResponse = await TaskRepo.ReadTask(userID);
        if (tasks == null) // pull employees only one time for client-side filtering, sorting, and paging
            tasks = GetListofTasks(apiResponse); // call a service or an API to pull the employees
        Console.WriteLine("ReturnNothing");
        Console.WriteLine(tasks);
        if (tasks == null)
        {
            Console.WriteLine("Nothing");
            return (new GridDataProviderResult<Hard75Shared.Task> { Data = new List<Hard75Shared.Task> (), TotalCount = 0 });
        }
        else
        {
            Console.WriteLine("Something");
            return await Task.FromResult(request.ApplyTo(tasks));
        }
    }

    private IEnumerable<Hard75Shared.Task> GetListofTasks(Hard75Shared.Response apiResponse)
    {
        if (apiResponse.statusCode < 100)
        {
            errorMessage = apiResponse.message;
            return currentTasks;
        }
        else if (apiResponse.statusCode >= 100 && apiResponse.statusCode < 900)
        {
            //Success
            if (apiResponse.message == "{}")
            {
                return currentTasks;
            }
            else{
                List<Hard75Shared.Task> currentTasks = JsonConvert.DeserializeObject<List<Hard75Shared.Task>>(apiResponse.message);
                return currentTasks;
            }
        }
        else
        {
            return currentTasks;
        }
    }

    private async Task ShowTaskComponent(Hard75Shared.Task t) 
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("method", "update"); 
        parameters.Add("task", t);
        parameters.Add("OnclickCallback", EventCallback.Factory.Create<MouseEventArgs>(this, ShowDTMessage));
        await modal.ShowAsync<TaskModal>(title: "Task Details", parameters: parameters);
    }

    private async Task NewTaskComponent()
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("method", "create"); 
        parameters.Add("OnclickCallback", EventCallback.Factory.Create<MouseEventArgs>(this, ShowDTMessage));
        await modal.ShowAsync<TaskModal>(title: "Task Details", parameters: parameters);
    }

    private void ShowDTMessage(MouseEventArgs e){
        successMessage = $"The current DT is: {DateTime.Now}.";
    }

    private async System.Threading.Tasks.Task createNewTask()

    {



        /*Hard75Shared.Response apiResponse = await TaskRepo.CreateTask(newuser);

        if (apiResponse.statusCode < 100)

        {

            //errorMessage = apiResponse.message;

        }

        else if (apiResponse.statusCode >= 100 && apiResponse.statusCode < 900)

        {



        }*/

    }

}