@page "/validate-mfa"

<PageTitle>Validate MFA</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <p style="text-align:center;">
        75 Hard Investment
    </p>
    <div class="align-content-center col-12" style="text-align: center;">
        <input name="username" type="text" placeholder="MFA Code" />
    </div>
    <div class="align-content-center col-12">
        <button class="btn btn-success col-6">
            Submit
        </button>
    </div>
</div>