@inherits LayoutComponentBase

<!--<div class="page">-->
<div class="bb-page">
    <main>
        <div class="top-row px-4" style="text-align: end;">
            <a href="https://anthuanwoods.me/" target="_blank">Developer Info</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
